img {
    display: block;
    width: 50%;
    height: 50%; 
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: serif;
    text-align: center;
    color: red;
}

p{
    text-align: center;
}

a{
    font-size: large;
    text-align: center;
}

a:hover{
    color:red;
}